<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
		<title>Bookdozer</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="{% static 'css/fontawesome.css' %}" rel="stylesheet">
  		<link href="{% static 'css/fa-brands.css' %}" rel="stylesheet">
  		<link href="{% static 'css/fa-solid.css' %}" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'css/index.css' %}" />
	</head>
	<body id="top">

		<!-- Header -->
			<header id="header">
				<div class="content">
					<h1>🤖 Bookdozer</h1>
					<h3>Book == Telegram Channel</h3>
					<p>Create telegram-subscription from <br />
					any epub-book and read it in <br />
					convenient <a href="https://instantview.telegram.org/">instant-view</a> format </p>
						<ul class="actions">
							<li><a target="_blank" href="https://t.me/BookdozerBot" class="button special"><i class="fab fa-telegram-plane"></i>	Send message</a></li>
						</ul>
						<ul class="actions">
							<li><a target="_blank" href="https://bitbucket.org/lefelys/bookdozer" class="button small"><i class="fas fa-code"></i> Source</a></li>
						</ul>
				</div>
				<div class="image phone"><div class="inner"><img src="{% static 'images/screen.jpg' %}" alt="" /></div></div>
			</header>
<!--
			<section id="one" class="wrapper">
				<div class="inner alt">
					<section class="spotlight">
						<div class="image"><img src="static/images/pic01.jpg" alt="" /></div>
						<div class="content">
							<h3>Header 1</h3>
							<p>Text 1</p>
						</div>
					</section>
					<section class="spotlight">
						<div class="image"><img src="static/images/pic02.jpg" alt="" /></div>
						<div class="content">
							<h3>Header 2</h3>
							<p>Text 2</p>
						</div>
					</section>
					<section class="spotlight">
						<div class="image"><img src="static/images/pic03.jpg" alt="" /></div>
						<div class="content">
							<h3>Header 3</h3>
							<p>Text 3</p>
						</div>
					</section>
				</div>
			</section>

 -->


		<!-- Footer -->
<!-- 			<footer id="footer">
				<p class="copyright">made by <a href="http://lefelys.com">Lefelys</a></p>
			</footer> -->
	</body>
</html>
