html { font-size:100%; }
body { line-height:1.6; overflow-x: hidden; }
img { max-width:100%; height:auto; }
object, embed, video, iframe { max-width:100%; }
h1, h2, h3, h4, h5, h6 { line-height:1.5; font-weight:400; }
a { color: #CE6607; text-decoration:none; }
a:hover { color:#A35208; }
a:focus { outline: none; }
h1 a { color:#333; }

/* FONTS */
html, button, input, select, textarea, .toggle h4 { font-family: 'Lora', Georgia, serif; }
h1, h2, h3, h4, h5, h6, .main-navigation ul li, dt { font-family:"Coustard", Georgia, serif; }
h1.site-title, h1.site-title a { font-family:"UnifrakturMaguntia", Georgia, serif; }


/* FOOTER */
.site-footer { padding: 0 0 1.5em 0; }
.site-footer > .row { border-top: 1px solid #eee; }
.site-footer .site-info { padding-top:1em; text-align:center; font-size:.9em; }
.site-footer .site-info, .site-footer .site-info a { color:#666; }



/* -------------------------------------------- */
/* LAYOUT */
.middle { padding-bottom: 4em; overflow: hidden; }
.wrapper { width:100%; }
.wrapper > .row { width:80%; margin-left:auto; margin-right:auto; }
.row-fluid { margin-left:auto; margin-right:auto; }
.readable-content { max-width:780px; margin-left:auto; margin-right:auto; }
.blog-with-sidebar { max-width: 1200px; }



/* -------------------------------------------- */
/* TYPOGRAPHY */
/* headings and paragraphs */
h1 { font-size: 2.20em; margin: 0.8em 0 0.4em 0; }
h2 { font-size: 1.60em; margin: 1.4em 0 0.8em 0; }
h3 { font-size: 1.20em; margin: 1.0em 0 .6em 0; }
h4 { font-size: 0.90em; margin: 1.0em 0 .6em 0; }
h5 { font-size: 0.90em; margin: 1.0em 0 .8em 0; }
h6 { font-size: 0.85em; margin: 1.0em 0 .8em 0; }
p { margin: 1.2em 0; }
.entry-title { margin-top:0; }
.entry-content h4 { padding-left: .8em; border-left: 4px solid #ccc; }
.entry-content h5 { font-weight:bold; }
.lead { font-size:1.2em; }

/* tagline and blockquote */
.tagline, blockquote { text-align:center; }
.tagline *:first-child { margin-top:0; }
blockquote { position: relative; margin:2em 0; padding:1em 3em 2em 3em; }
blockquote:before { display: block; content: "\201C"; line-height:1; font-size: 6em; font-family:Georgia, "Times New Roman", Times, serif; position: absolute; left: 0; top: -0.1em; color: #ddd; }
blockquote { font-size:1.3em; }
blockquote cite { color: #999; font-size: .85em; display: block; margin-top: .8em; }
blockquote cite:before { content: "\2014 \2009"; }
.tagline { margin:3em 0; padding:1em 2em; border-width:1px 0; border-style:dashed; border-color:#ccc; }
.tagline * { padding-bottom:0; margin-bottom:0; }
.tagline p { font-size:1.4em; }
.tagline h3, .tagline h4 { border:0; padding:0; }
hr { padding: .6em 0 1em 0; outline:0; border-width:0 0 1px 0; border-style:dashed; border-color: #ccc; }

/* tables */
table { font-size:.9em; }
tr th { padding:.6em 2em .4em 0; border-bottom:4px solid #555; text-transform:uppercase; }
tr td { color:#666; padding:.8em 2em .6em 0;  border-bottom:1px solid #eee; }
tfoot tr td { border-bottom:0; }
tr:nth-child(odd) td {}

.drop-cap:first-letter {  font-size:300%; font-weight:bold; line-height: 1; float:left; padding: 0px 16px 0px 0; }

/* code and pre */
code,
pre { padding: 0 3px 2px; margin-bottom:2em; font-family: Monaco, Menlo, Consolas, "Courier New", monospace; font-size: 12px; color: #333333; }
code { display: inline-block; margin:0 .4em; padding: 1px 6px; background: #fff; border: 1px solid #DDD; box-shadow: 1px 1px 0 #fff, 2px 2px 0 #ddd; }

/* lists */
ol, ul { margin: .2em 0 1em 0; }
ul { list-style:square; }
.icons { list-style:none; padding-left:1em; }
.icons i { font-size:14px; width:1.8em; padding-right:0; text-align:left; }
.icons li:before, dd:before, .widget-area ul li:before, .toggle h4:before, .alert:before, .bypostauthor > article:after, .blog-single .entry-meta:before, .entry-meta .comments-link:before, .hentry:before, .flex-direction-nav a:before, .portfolio-info:before, .intro .launch-wrap:before, .fancy-ico:before, #fancybox-close:before, .share-links:before, .hentry.sticky:before { font-family: FontAwesome; font-weight: normal; font-size:9px; width:1.8em; text-align:left; font-style: normal; display: inline-block; text-decoration: inherit; }
.icon-ok-list li:before { content: "\f00c"; }
.icon-plus-list li:before { content: "\f067"; }
.icon-minus-list li:before { content: "\f068"; }
.icon-hand-right-list li:before { content: "\f0a4"; font-size:14px; }
.icon-thumbs-up-list li:before { content: "\f087"; font-size:14px; }
.icon-star-list li:before { content: "\f005"; font-size:14px; }
.icon-star-empty-list li:before { content: "\f006"; font-size:14px; }
.icon-chevron-right-list li:before { content: "\f054"; font-size:14px; }
.icon-th-large-list li:before { content: "\f009"; font-size:9px; width:2.2em; }
dt { font-size:.92em; }
dd { font-size:.9em; padding-bottom:1em; margin-left:1em; }
dd:before { content: "\f0a4"; font-size:14px; }

/* Dynamic To Top */
#dynamic-to-top { border: 0; -webkit-border-radius: 0px; border-radius: 0px; box-shadow: none; -webkit-box-shadow: none; }
#dynamic-to-top:hover { background: #000; }

/* FOOTER WIDGET AREA */
.site-footer .widget-area { padding:2em 0; }




/* BLOG */
.hentry { padding: 1.25em 0 2.5em 0; }
.blog-posts .entry-title, .portfolio-single .entry-title { font-size:1.9em;}
.entry-meta { padding:.6em 0 1.2em 0; color:#aaa; font-weight:400; font-size:18px; letter-spacing:1px; text-align:center; }
.entry-meta a, .nav-single a, .comment-meta a, .comment-reply-link, .navigation a, .post-pagination a, .related-posts a, .archives a, .tabs .tab-titles li a { color:#333; border-bottom:1px dotted #ccc; }
.entry-meta a:hover, .site-content h1 a:hover, .nav-single a:hover, .comment-meta a:hover, .comment-reply-link:hover, .navigation a:hover, .post-pagination a:hover, .related-posts a:hover, .archives a:hover, .entry-content a.more-link:hover, .launch-wrap a:hover { color:#000; background-color:#f7f7f7; }
.entry-meta a:active, .nav-single a:active, .comment-meta a:active, .comment-reply-link:active, .navigation a:active, .post-pagination a:active, .related-posts a:active, .archives a:active, .entry-content a.more-link:active, .launch-wrap a:active { background-color:#eee; }
.entry-meta .edit-link { float:right; }
.entry-header, .post .entry-title { text-align:center; }
.entry-content { padding: .250em 0 1.250em 0; }
.page .entry-content { padding-top: 1em; }
.entry-meta { text-align: center; }
.entry-content a.more-link { display:block; max-width:18.75em; text-align:center; margin:2.5em auto 0 auto; padding:0.5em 0 0.4em 0; color:#444; font-weight:400; font-size:.85em; background:none; border-bottom:1px dotted #ccc; letter-spacing:2px; }
.entry-meta .comments-link:before { content: "\f0e5"; font-size:1em; margin-left: .6em; margin-right: -0.8em; display:inline-block; }
.featured-image { text-align:center; }
.site-content h1 a:active { border-bottom:1px dotted #ccc; }


.hentry:before, .hentry.sticky:before { display:block; width:100%; text-align:center; font-size:2em; }




@media screen and (min-width: 768px) {
    .blog-single .post .entry-content > p {
		font-size: 18px;
		}
}
