{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'bookdozes/main.css' %}" />
    <title>{{ book_part_data.book.book_name }}, part #{{ book_part_data.part_number }}</title>
</head>

<body class="post-template-default single single-post postid-14 single-format-standard">
    <div id="page" class="hfeed site">
        <section id="main" class="middle wrapper">
            <div class="row row-fluid ">
                <div id="primary" class="site-content">
                    <div id="content" role="main">
                        <div class="blog-single readable-content">
                            <article id="post-14" class="clearfix post-14 post type-post status-publish format-standard hentry category-web-design tag-design tag-responsive tag-think">
                                <header class="entry-header">
                                    <h1 class="entry-title"> {{ book_part_data.book.book_name }} </h1>
                                </header>
                                <div class="entry-meta">
                                    <span class="post-category">
                                        <h2 class="entry-title">
                                        part #{{ book_part_data.part_number }}
                                        </h2>
                                    </span>
                                </div>
                                <div class="entry-content clearfix">
                                    {{ partRendered }}
                                </div>
                             </article>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="site-footer wrapper" role="contentinfo">
            <div class="row">
                <div class="site-info">
                    donate please I'm dying
                </div>

            </div>
        </footer>
    </div>
</body>
</html>
